<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
	<!-- 1.名称空间  名称空间应该跟接口的全路径一致 -->
	<mapper namespace="com.niit.mapper.OMapper">  
	
		<!-- 2.SQL sqlID应该跟接口的方法名称一致 -->
		<!-- 因为在 mybatis-conf.xml中定义了别名 所以用 F代表com.niit.model.Order-->
		
		<!-- select语句 查询order的所有数据 -->
		<select id="getAll" resultType="O">
			select o.id,dt.tableName,o.orderDate,o.orderDate_dt,o.totalPrice,o.orderStatus 
			FROM orders AS o,dinnertable AS dt 
			WHERE o.table_id=dt.id order by o.id desc limit #{beginIndex},#{pageSize}
		</select>
		
		 <!-- 查询总的数据行数 -->
    	<select id="getTotalCount" resultType="int">
       		select count(*) from orders
   	 	</select>
		
		<update id="unsubscribeO" parameterType="O">
			update orders set orderStatus=2, totalPrice=0 where id=#{id}
		</update>
		
		<update id="unsubscribeDT">
			update dinnertable dt,(select * from orders)O set dt.tableStatus=0, dt.orderDate=null where O.table_id=dt.id 
		</update>
		
		<update id="bill" parameterType="O">
			update orders set orderStatus=1 where id=#{id}
		</update>
	</mapper>
	
		